useDynLib(FGN, shift_C, tacvfARMA_C, tacvfFDWN_C, tacfHD_C, tacfFGN_C)

import("ltsa")

export(
"acvfFGN", "acvfFD", "acvfPLA", "acvfPLS",
"sdfFGN", "sdfFD", "sdfPLA", "sdfPLS",
"LLFGN", "LLFD", "LLPLA", "LLPLS", 
"GetFitFGN", "GetFitPLA", "GetFitFD", "GetFitPLS",
"sdfarma", "sdfhd", "warfima", "WLoglikelihood", 
"FitFGN",
"Reimann",
"Boot.FitFGN",
"Boot",
"FitRegressionFGN",
"HurstK",
"SimulateFGN",
"SimulateFD",
"coef.FitFGN",
"plot.FitFGN",
"predict.FitFGN",
"print.FitFGN",
"residuals.FitFGN",
"summary.FitFGN")

## methods 
  S3method("coef", "FitFGN")
  S3method("print", "FitFGN")
  S3method("residuals", "FitFGN")
  S3method("summary", "FitFGN")
  S3method("plot", "FitFGN")
